<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>会员列表</title>

    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">

</head>
<body>
<h3>当前登录用户：<span th:text="${#authentication.name}"></span> | <a th:href="@{/logout}">退出</a></h3>
<h2>这是会员管理列表页面</h2>
<table class="table">
    <tr>
        <th>名称</th>
        <th>职业</th>
        <th>简介</th>
        <th>创建时间</th>
        <th>操作</th>
    </tr>
    <tr>
        <td style="font-size: 20px;">伍钊</td>
        <td>java开发工程师</td>
        <td>技术大神</td>
        <td>2019-03-01</td>
        <td><a th:href="@{/member/detail}">详情</a> </td>
    </tr>
    <tr>
        <td style="font-size: 20px;">李合龙</td>
        <td>java开发工程师</td>
        <td>技术大神</td>
        <td>2019-03-02</td>
        <td><a th:href="@{/member/detail}">详情</a> </td>
    </tr>
    <tr>
        <td style="font-size: 20px;">樊亚鑫</td>
        <td> java开发工程师</td>
        <td>技术大神</td>
        <td>2019-03-03</td>
        <td><a th:href="@{/member/detail}">详情</a> </td>
    </tr>
</table>
</body>
</html>